html{
	font-size: 62.5%;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 38px;
	font-size: 1.2em;
}
#player{
	position: absolute;
	left: -999px;
}
.player-status-container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #eee;
	overflow: hidden;
}
#playerStatus{
	padding: 10px;
	float: left;
}

#trackProgressOuter{
	float: left;
	width: 200px;
	height: 18px;
	margin: 10px;
	background: #ddd;
}
#trackProgress{
	background: #ccc;
	height: 100%;
}

#searchResultContainer,
#playlistContainer{
	float:left;
	width: 50%;
	min-height: 200px;
}
.result{
	margin: 10px 0 0 0;
	float:left;
	clear: left;
	overflow: hidden;
}
.result > .info{
	float: left;
}
.result > .info > p{
	margin: 0 0 3px 0;
}
.result > .icon{
	float: left;
	margin: 0 10px 0 0;
}
.result > .icon > img{
	width: 100px;
	height: 100px;
}